.mycontent {
    text-shadow: 0 1px 3px #222;
    /*background: #071237 url(/images/octicons-bg.png) center repeat;*/
    background-image: linear-gradient(to left,#0E8666,#071237);
    /*background-image: linear-gradient(to right,#071237,#6F1919);*/
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
main{
    position: relative;
    margin: 0 auto;
    padding: 1em;
    /* max-width: 23em; */
    background: hsla(0,0%,100%,.25) border-box;
    overflow: hidden;
    border-radius: .3em;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset, 0 .5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
}
main::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: -30px;
    z-index: -1;
    -webkit-filter: blur(20px);
    filter: blur(20px);
}

#content-c h1{
    color:#fff;
    font-size: 70px;
    margin: 0;
    box-sizing: border-box;
}
#content-c form{
    box-sizing: border-box;
    float:right;
    width:320px;
    margin-left: 40px;
}
#content-c form input{
    padding: 22px;
}
#region{
    padding: 12px;
}
.text-muted{
    color: #ccc;
    font-size: 12px;
}
.form-group{
    margin-bottom: 10px;
}
.subheading{
    margin: 10px 0 0;
    font-size: 21px;
    line-height: 1.5;
    color: #fff;
}
.subheading a {
    display: block;
    font-weight: 500;
}
.qq{
    font-weight: 500;
    color: cornflowerblue;
}