#main-container {
    padding: 0 15px;
    margin-top: 10px;
}

.melogo p {
    text-align: center;
    font-size: 100px;
    padding-top: 50px;
}

.mesearch {
    padding-left: 284px;
    padding-right: 284px;
}

.mesearch .input-group {
    width: 585px;
}

.metip {
    padding-top: 20px;
    margin-bottom: 50px;
}

.metip p {
    text-align: center;
    font-size: 13px;
}

/* main-header */
.container-left {
    width: 24%;
    float: left;
}

.container-center {
    float: left;
    width: 50%;
    margin-left: 10px;
}

.container-right {
    float: left;
    width: 24%;
    margin-left: 10px;
}

.main-header {
    width: 960px;
    margin: 0 auto;
}

.header-content {
    border: 1px solid #ddd;
    padding: 4px 12px;
    margin-top: -1px;
}

.container-left .header-content {
    padding: 10px 20px;
}

.content-info {
    padding: 10px 0;
}

.content-info > span {
    float: left;
}

.content-info img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.content-info ul {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
    line-height: 15px;
}

.content-info ul li {
    margin: 0;
    padding: 0;
    height: 20px;
}

.content-info ul li:first-child {
}

.username {
    font-weight: bold;
    font-size: 18px;
}

.dynamic-time {
    color: rgb(145, 151, 163);
    font-size: 12px;
}

.container-header {
    border: 1px solid #ddd;
    background: #f9f9f9;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    position: relative;
}

.body-content-a {
    width: 33%;
    float: left;
}

.body-content-a:hover, .body-content-a:focus {
    text-decoration: none;
    color: #428bca;
}

.body-content-a:hover > span {
    color: inherit;
}

.body-content-a > strong {
    display: block;
    font-size: 28px;
}

.body-content-a > span {
    font-size: 12px;
    color: #767676;
}

.container-left .header-content {
    height: 150px;
}

.body-content {
    text-align: center;
    margin-top: 10px;
}

.container-left .content-body {

}

.container-right .header-content {
    border: none;
    padding: 0;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item{
    font-size: 14px;
    padding: 8px;
}
